@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<form asp-action="ForgetPassword" method="post">
    <input type="text" asp-for="Email" name="Email" placeholder="Email" required="">
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Rest Password">
</form>

