@model SignupViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SignUp" method="post">
            <input class="text" type="text" asp-for="UserName" name="UserName" placeholder="User Name">
            <input class="text" type="text" asp-for="FirstName" name="FirstName" placeholder="First Name" >
            <input class="text" type="text" asp-for="LastName" name="LastName" placeholder="Last Name">
            <input class="text email" type="email" asp-for="Email" name="Email" placeholder="E-mail">
            <input class="text" type="password" asp-for="Password" name="Password" placeholder="Password" >
            <input class="text w3lpass" type="password" asp-for="ConfirmedPassword" name="ConfirmedPassword" placeholder="Confirm Password">
            <div class="wthree-text">
                <label class="anim">
                    <input type="checkbox" asp-for="IsAgree" class="checkbox" >
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>
        <p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
    </div>
</div>
